In [1]:
import pandas as pd
from sklearn.datasets import load_iris
iris=load_iris()
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [3]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [4]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)

In [5]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
df['target']=iris.target
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [7]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
df[df.target==2].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
100,6.3,3.3,6.0,2.5,2
101,5.8,2.7,5.1,1.9,2
102,7.1,3.0,5.9,2.1,2
103,6.3,2.9,5.6,1.8,2
104,6.5,3.0,5.8,2.2,2

In [9]:
df['flower_name']=df.target.apply(lambda x:iris.target_names[x])

In [10]:
df0=df[df.target==0]
df1=df[df.target==1]
df2=df[df.target==2]

In [11]:
df1.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_name
50,7.0,3.2,4.7,1.4,1,versicolor
51,6.4,3.2,4.5,1.5,1,versicolor
52,6.9,3.1,4.9,1.5,1,versicolor
53,5.5,2.3,4.0,1.3,1,versicolor
54,6.5,2.8,4.6,1.5,1,versicolor

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
df=df.drop(['flower_name'],axis='columns')

In [14]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [15]:
x=df.drop(['target'],axis='columns')
y=df['target']

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [43]:
from sklearn.svm import SVC
model=SVC(C=10)#change the Parameter from here by passing the value.

In [44]:
model.fit(x_train,y_train)

SVC(C=10)

In [45]:
model.predict(x_test)

array([1, 0, 1, 2, 1, 0, 0, 2, 0, 2, 1, 1, 0, 0, 0, 1, 1, 2, 1, 1, 1, 0,
       1, 0, 0, 2, 1, 2, 2, 0, 2, 0, 2, 1, 0, 2, 1, 2, 0, 2, 0, 2, 0, 1,
       2])

In [48]:
model.score(x_test,y_test)*100

100.0

In [21]:
#https://youtu.be/FB5EdxAGxQg?list=PLeo1K3hjS3uvCeTYTeyfe0-rN5r8zn9rw&t=1112