### Importing the modules

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [6]:
#reading the files
data=pd.read_csv("D:\Datascience\data_files\Students_data.csv")

In [7]:
data.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [8]:
data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
#checking the data shape of data shape(row*column)
data.shape

In [ ]:
#staistical Analysis of data
data.describe()
#it is showing the integer data set

In [ ]:
#to call columns separately
data.columns

In [ ]:
#to check the uniqueness in dataset
#n unique gives number of unique values
data.nunique()

In [ ]:
#unique() gives what are the unique value
data['parental level of education'].unique()

In [ ]:
#01 cleaning the data sets
# checking the null values and adding how many null values are present
data.isnull().sum()

In [ ]:
#removal of unnecessary columns 
#dropping the data
#student = student.dropna()  # Remove rows with NaN values

In [ ]:
student=data.drop(['race/ethnicity','parental level of education'],axis=1)
# axis=1, determines the attributes of columns and axis =0: determines the attributes of rows

In [ ]:
student.head()

In [ ]:
#2 in Statistics outliers is a data point that differs significantly 
#from other observation

#experimental error

In [ ]:
#3
#relationship analysis

In [ ]:
#checking weather the student is data frame or not using isinstance()
import pandas as pd

# Assume "Student" is the variable you want to check
if isinstance(student, pd.DataFrame):
    print("student is a DataFrame.")
else:
    print("student is not a DataFrame.")

In [ ]:
student.dtypes

In [ ]:
student1=student.drop(['gender','lunch','test preparation course'],axis=1)

In [ ]:
#data visualization
correlation=student1.corr()

In [ ]:
sns.heatmap(correlation,xticklabels=correlation.columns,yticklabels=correlation.columns,annot=True)

In [ ]:
#https://chat.openai.com/share/77ec8abb-8e2a-43a4-a1d4-750999f109f0

In [ ]:
#sns.boxplot(student1,color="red",saturation=80,linewidth=50)

In [ ]:
sns.pairplot(student1)

In [ ]:
sns.relplot(x='math score',y='reading score',hue='lunch',data=data)

In [ ]:
sns.histplot(student1,bins=50)

In [ ]:
sns.distplot(student1['reading score'], bins=5)

In [ ]:
sns.catplot(x='writing score',kind='box',data= data,color="olive")

In [ ]:
sns.scatterplot(student1)